.vscode/**
.vscode-test/**
.pnpm-store/**
out/**
node_modules/**
src/**
.gitignore
.npmrc
.node-version
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
resources/icon.svg
